.root {
    -fx-background-color: white;
    -fx-font-family: "Arial";
}

#mainContainer {
    -fx-padding: 20;
}
.text-field {
    -fx-background-color: white;
    -fx-padding: 6;
    -fx-font-size: 14px;
    -fx-border-color: royalblue;
    -fx-border-width: 2;
    -fx-border-radius: 6;
}

#orderSection {
    -fx-padding: 10;
    -fx-background-color: lightgray;
    -fx-background-radius: 8;
}

#addonsSection {
    -fx-padding: 10;
    -fx-background-color: lightgray;
    -fx-background-radius: 8;
}

#displaySection {
    -fx-padding: 10;
    -fx-background-color: lightgray;
    -fx-background-radius: 8;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

.button {
    -fx-background-color: royalblue;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-padding: 6 12;
}

.button:hover {
    -fx-background-color: midnightblue;
}


.text-area {
    -fx-background-color: white;
	-fx-text-fill: black;
    -fx-padding: 10;
    -fx-font-size: 15px;
    -fx-background-radius: 8;
}
